h1 {
    color: #A73121;
    font-size: 100px;  
}

img {
    background-color: #C08261;
}

img:hover {
    background-color: #F8DE22;
}

.bacon {
    background-color: #E25E3E;
}

.broccoli {
    background-color:  greenyellow;
}

.circular {
    border-radius: 100%;
}